@font-face {
    font-family: 'roboto thin';
    src: url('fonts/roboto-thin-webfont.eot');
    src: url('fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-thin-webfont.woff') format('woff'),
    url('fonts/roboto-thin-webfont.ttf') format('truetype'),
    url('fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto light';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-light-webfont.woff') format('woff'),
    url('fonts/roboto-light-webfont.ttf') format('truetype'),
    url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto regular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-regular-webfont.woff') format('woff'),
    url('fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*:focus { outline: none }

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix { display: block }

* html .clearfix { height: 1px }

#wrapper {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #323232;
}

#container {
    width: 100%;
}

#file-uploader {
    width: 250px;
    height: 250px;
    margin: 50px auto 0 auto;
    background-color: #ddd;
    font-size: 30px;
    line-height: 250px;
    text-align: center;
    border: 10px solid transparent;
}

#file-uploader:hover {
    cursor: pointer;
    background-color: #eee;
    border: 10px solid #ddd;
}

#uploaded-files-preview {
    margin: 50px auto 0 auto;
    display: block;
    width: 500px;
}

/* Uploaded thumbnail */
.dz-preview {
    position: relative;
    width: 100px;
    background-color: #555;
    padding: 10px;
    margin: 10px;
    float: left;
}

.dz-success-mark, .dz-error-mark {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    top: 0;
    right: 0;
    margin-top: -15px;
    margin-right: -15px;
}

.dz-success-mark {
    color: #1d6f61;
    background-color: #43ccb5;
}

.dz-error-mark {
    display: none;
    color: #991a2d;
    background-color: #ea324d;
}

.dz-error-message, .dz-success-message {
    display: none;
    font-size: 14px;
    text-align: center;
}

.dz-error-message {
    color: #ea324d;
}

.dz-success-message {
    color: #43ccb5;
}

.dz-progress {
    width: 100px;
    height: 16px;
    background-color: #ddd;
}

.dz-upload {
    display: block;
    height: 100%;
    width: 5%;
    background-color: #43ccb5;
}

.dz-filename {
    font-size: 14px;
    text-align: center;
    color: #f9f9f9;
    margin-bottom: 2px;
}

.dz-details img {
    width: 100px;
    height: 100px;
}

.dz-size, .dz-filename {
    display: none;
}
















